<app-navbar-home></app-navbar-home>


<section class="ezy__portfolio7 light py-14 md:py-15 bg-white text-slate-800">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-12 justify-center mb-6 md:mb-12">
      <div class="col-span-12 lg:col-span-6 lg:col-start-4 text-center">
        <p class="mb-2">THIS IS WHAT WE DO</p>
        <h2 class="text-3xl md:text-[45px] font-bold mb-6">My Latest Works</h2>
      </div>
    </div>

    <div class="grid grid-cols-6 gap-6 gap-y-8 lg:gap-y-0 max-w-7xl mx-auto">
      <div class="col-span-6 md:col-span-3 lg:col-span-2">
        <div class="relative bg-white shadow-xl hover:-translate-y-1 mt-6 duration-300 rounded-xl">
          <div class="p-6 lg:p-12 mb-20">
            <h4 class="text-2xl font-medium mb-4">Photography</h4>
            <p class="opacity-50 mb-0">
              Vitae bibendum egestas magna sit elit non. Netus volutpat dignissim pharetra felis. Orci commodo
              mauris digital industry is booming adipiscing semper amet.
            </p>
            <button class="px-5 py-2 rounded border border-blue-600 hover:text-white hover:bg-blue-600 duration-300 mt-6">
              Marketing
            </button>
          </div>
          <div class="bg-green-100 flex rounded-xl p-6 lg:p-12 pb-0 relative">
            <img
              src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio15.jpg"
              alt=""
              class="w-full h-auto -mt-24 mb-12 rounded-xl"
            />
          </div>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2">
        <div class="bg-white shadow-xl hover:-translate-y-1 mt-6 duration-300 rounded-xl mb-12">
          <div class="p-6 lg:p-12 mb-20">
            <h4 class="text-2xl font-medium mb-4">Marketing</h4>
            <p class="opacity-50 mb-0">
              Sed ut in perspiciatis unde omnis iste natus error sit on i tatem accusantium doloremque laudantium,
              totam rem aperiam, eaque ipsa quae.
            </p>
            <button class="px-5 py-2 rounded border border-blue-600 hover:text-white hover:bg-blue-600 duration-300 mt-6">
              Marketing
            </button>
          </div>
          <div class="bg-blue-100 flex rounded-xl p-6 lg:p-12 pb-0 relative">
            <img
              src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio_1_2.png"
              alt=""
              class="w-full h-auto -mt-24 mb-12 rounded-xl"
            />
          </div>
        </div>
      </div>
      <div class="col-span-6 md:col-span-3 lg:col-span-2">
        <div class="bg-white shadow-xl hover:-translate-y-1 mt-6 duration-300 rounded-xl mb-12">
          <div class="p-6 lg:p-12 mb-20">
            <h4 class="text-2xl font-medium mb-4">Branding</h4>
            <p class="opacity-50 mb-0">
              It’s easier to reach your savings goals when you have the right savings account. It’s easier to reach
              your savings goals when you have the right savings account.
            </p>
            <button class="px-5 py-2 rounded border border-blue-600 hover:text-white hover:bg-blue-600 duration-300 mt-6">
              Marketing
            </button>
          </div>
          <div class="bg-red-100 flex rounded-xl p-6 lg:p-12 pb-0 relative">
            <img
              src="https://cdn.easyfrontend.com/pictures/portfolio/portfolio9.jpg"
              alt=""
              class="w-full h-auto -mt-24 mb-12 rounded-xl"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
