<app-navbar-home></app-navbar-home>


<section class="ezy__httpcodes7 light py-32 md:py-10 bg-white text-[#04004d] relative overflow-hidden z-[1]">
    <div class="container px-4 mx-auto">
        <div class="grid grid-cols-12 gap-12 items-center">
            <!-- left image -->
            <div class="col-span-12 lg:col-span-6 relative">
                <img src="https://http.cat/images/400.jpg" alt=""
                    class="h-full w-full object-cover rounded-xl shadow-xl" />

            </div>

            <!-- container -->
            <div class="col-span-12 lg:col-span-6">
                <div class="lg:max-w-2xl">
                    <h2 class="text-[100px] md:text-[120px] font-bold leading-none mb-6 text-black">400</h2>
                    <h6 class="text-[100px] md:text-[40px] font-bold leading-none mb-6 text-black">Bad request</h6>

                    <p class="text-lg opacity-80 text-black">
                        Sorry, it seems there's been a problem with your request. Please make sure you've entered your
                        credentials correctly as an institution, teacher, or student. If you're still having trouble,
                        don't hesitate to contact us for assistance. </p>
                </div>
            </div>
        </div>
    </div>
</section>